@import url(https://fonts.googleapis.com/css?family=Bitter:200,300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Colors*/
/*Fonts*/
/*Base spacing*/
html {
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: content-box;
  text-decoration: none;
}

/*Other imports at the end to load after*/
body {
  background: #fcefd8;
  font-size: 1em;
}

nav button {
  visibility: hidden;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: #42392d;
  text-decoration: none;
}
a:hover {
  color: #0a0909;
}
a:active {
  color: #7335ab;
}

a.active {
  color: #f17917;
}

body {
  display: flex;
}

button {
  height: 0;
}

header {
  margin-left: 2em;
  padding-top: 2em;
}

h1 {
  font-family: "Bitter", serif;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #42392d;
  margin-top: 1.5em;
}
h1:hover {
  color: #0a0909;
}
h1:active {
  color: #f17917;
}
h1 a.active {
  color: inherit;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.65em;
  font-weight: 400;
  margin-right: 2.5em;
  text-decoration: none;
  text-decoration-style: solid;
}
h2 .active {
  text-decoration: underline;
}

h3 {
  color: #f17917;
  font-family: "Raleway", sans-serif;
  margin-top: 0.5em;
  font-size: 2em;
}

h4 {
  font-family: "Bitter", serif;
  font-size: 1.3em;
  margin: 0.25em 0;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  margin: 0.25em 0;
}

h6 {
  font-family: "Bitter", serif;
  font-size: 0.8em;
}

img {
  height: auto;
}

p {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 1.25em 0;
  font-family: "Bitter", serif;
  text-align: left;
}
p a {
  text-decoration: underline;
  color: #42392d;
}

li {
  list-style: none;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 1.25em 0;
  font-family: "Bitter", serif;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: column;
}

.art {
  margin-left: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artImage {
  height: 20em;
  display: inline-flex;
  align-self: start;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.7em;
}
.artImage img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.contenu {
  margin-top: 5em;
  margin-left: 12em;
  width: 75vw;
}
.contenu img {
  display: flex;
  max-width: 100%;
  max-height: 98vh;
  padding-bottom: 2.5em;
  height: auto;
}

#fullscreen {
  display: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(21, 22, 26, 0.4);
}
#fullscreen #imgfull {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  max-width: 90vw;
  z-index: 9;
}
#fullscreen button {
  position: fixed;
  top: 50%;
  z-index: 999;
}
#fullscreen .prev {
  left: 2em;
}
#fullscreen .next {
  right: 2em;
}

.fullscreenbutton {
  display: none;
}

#info-me {
  position: absolute;
  max-width: auto;
  bottom: 5em;
  right: 9em;
  max-height: 45vh;
}

.links {
  position: fixed;
  display: inline-block;
  margin-left: 0;
  text-decoration: none;
  z-index: 1;
}
.links li {
  font-size: 1.25em;
  margin: 1.5em 0;
}

.menucat {
  display: flex;
  flex-direction: row;
}

.inactiveLink {
  cursor: default;
}

.spacer {
  width: 2em;
}

#panorama {
  width: 120em;
  max-width: 80vw;
  height: 70em;
  max-height: 98vh;
  margin-bottom: 3em;
}

.post {
  margin: 2em 0;
}

.reel {
  width: 75em;
  max-width: 90vw;
  height: 45em;
  max-height: 60vh;
}

.repit {
  margin: 4em;
}

.sketchbooks {
  margin-left: 8em;
  display: flex;
  flex-direction: column;
}

.sketchbook {
  display: flex;
  flex-direction: row;
}

.sketchbook_cover {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.sketchbook_cover :hover {
  cursor: crosshair;
}

.sketchbook_cover_img {
  display: inline-flex;
}

.sketchbook_page {
  align-items: center;
  justify-content: center;
  display: none;
}
.sketchbook_page img {
  height: 30em;
  margin-left: 2em;
}

.switch {
  visibility: visible !important;
  display: grid !important;
}

@media (max-width: 100vh) {
  body {
    flex-direction: column;
  }
  nav button {
    visibility: visible;
    position: absolute;
    top: 1em;
    right: 1em;
    height: auto;
  }
  nav {
    display: block;
  }
  .contenu {
    margin: 1em;
    padding: 0;
    width: 90vw;
  }
  .floatimg {
    visibility: hidden;
  }
  #fullscreen button {
    top: 90%;
  }
  #info-me {
    position: relative;
    right: 0;
    bottom: 0;
  }
  .menu {
    visibility: hidden;
    display: none;
    flex-direction: column;
    margin-top: 5em;
    margin-right: 3em;
  }
  .menucat {
    justify-content: flex-end;
  }
  .menucat img {
    padding: right 10em;
  }
  .reel {
    max-height: 30vh;
  }
}/*# sourceMappingURL=nustyle.css.map */